#Fri Mar 23 14:03:29 CET 2012
voice.stts-sv-hb-hsmm.useMixExc=true
voice.stts-sv-hb-hsmm.FeaFile=jar\:/marytts/voice/SttsSvHbHsmm/8sidor_sentences3535.pfeats
voice.stts-sv-hb-hsmm.Fts=jar\:/marytts/voice/SttsSvHbHsmm/tree-str.inf
voice.stts-sv-hb-hsmm.Ftm=jar\:/marytts/voice/SttsSvHbHsmm/tree-mgc.inf
sv-voice.version=trunk
voice.stts-sv-hb-hsmm.Ftf=jar\:/marytts/voice/SttsSvHbHsmm/tree-lf0.inf
voice.stts-sv-hb-hsmm.samplingRate=16000
requires=sv marybase 
voice.stts-sv-hb-hsmm.duration.model=hmm
voice.stts-sv-hb-hsmm.Ftd=jar\:/marytts/voice/SttsSvHbHsmm/tree-dur.inf
voice.stts-sv-hb-hsmm.gender=male
voice.stts-sv-hb-hsmm.wants.to.be.default=0
name=stts-sv-hb-hsmm
voice.stts-sv-hb-hsmm.F0.data=MARY_BASE/conf/sv-victor_stts.config
voice.stts-sv-hb-hsmm.Fms=jar\:/marytts/voice/SttsSvHbHsmm/str.pdf
voice.stts-sv-hb-hsmm.Fgvs=jar\:/marytts/voice/SttsSvHbHsmm/gv-str-littend.pdf
voice.stts-sv-hb-hsmm.alpha=0.42
provides=sv-voice hmm-voice
voice.stts-sv-hb-hsmm.Fmm=jar\:/marytts/voice/SttsSvHbHsmm/mgc.pdf
voice.stts-sv-hb-hsmm.Fgvm=jar\:/marytts/voice/SttsSvHbHsmm/gv-mgc-littend.pdf
locale=sv
voice.stts-sv-hb-hsmm.duration.attribute=d
voice.version=trunk
voice.stts-sv-hb-hsmm.Fmf=jar\:/marytts/voice/SttsSvHbHsmm/lf0.pdf
voice.stts-sv-hb-hsmm.Fgvf=jar\:/marytts/voice/SttsSvHbHsmm/gv-lf0-littend.pdf
voice.stts-sv-hb-hsmm.Fmd=jar\:/marytts/voice/SttsSvHbHsmm/dur.pdf
requires.sv.version=trunk
voice.stts-sv-hb-hsmm.F0.attribute=f0
requires.sv.download=http\://mary.dfki.de/download/mary-install-4.x.x.jar
voice.stts-sv-hb-hsmm.maxMgcGvIter=200
requires.marybase.version=trunk
voice.stts-sv-hb-hsmm.domain=general
voice.stts-sv-hb-hsmm.in=5
voice.stts-sv-hb-hsmm.F0.model=hmm
voice.stts-sv-hb-hsmm.duration.data=MARY_BASE/conf/sv-victor_stts.config
voice.stts-sv-hb-hsmm.Fif=jar\:/marytts/voice/SttsSvHbHsmm/mix_excitation_filters.txt
hmm.voices.list=stts-sv-hb-hsmm
voice.stts-sv-hb-hsmm.locale=sv
voice.stts-sv-hb-hsmm.logGain=false
voice.stts-sv-hb-hsmm.useAcousticModels=true
voice.stts-sv-hb-hsmm.maxLf0GvIter=200
voice.stts-sv-hb-hsmm.gamma=0
voice.stts-sv-hb-hsmm.beta=0.0
voice.stts-sv-hb-hsmm.useGV=true
voice.stts-sv-hb-hsmm.acousticModels=duration F0
requires.hmm.version=trunk
voice.stts-sv-hb-hsmm.trickyPhonesFile=jar\:/marytts/voice/SttsSvHbHsmm/trickyPhones.txt
